/* Button.css */

.custom-button {
    background-color: #A3BCD2;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: -8px;
    margin-right: 20px;
    letter-spacing: 2px;
}

.custom-button a {
    color: inherit;
}

.custom-button a.active {
    color: inherit;
}


.custom-button:hover {
    background-color: #ecd3aa;
    color: #8297a9;
}

.custom-button a:hover {
    color: #697a89;
}

/*-----------mobile --768px--------*/
@media only screen and (max-width: 768px) {
    nav .custom-button {
        background-color: transparent;
        text-align: left;
        margin-top: 0;
    }

    nav .custom-button:hover {
        background-color: transparent;
    }

    nav .custom-button a:hover {
        color: #eacc9c;
    }
}