/* Button.css */

.custom-button {
    background-color: #A3BCD2;
    color: #ffffff;
    font-family: "Sitka Display bold italic", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #eacc9c;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .custom-button:hover {
        background-color: transparent;
    }
}