.section_container {
    background-color: white;
}

.realisations p {
    text-align: center;
    margin: 10px auto;
    width: 70%;
    min-width: 360px;
}

.realisations .link {
    padding: 30px;
}