.section_container {
    background-color: white;
}

.realisations p {
    text-align: center;
    margin: auto;
    margin-bottom: -10px;
    width: 70%;
    min-width: 360px;
}


.realisations .link {
    padding: 30px;
}