@font-face {
    font-family: 'Sitka';
    src: local("Sitka Display"), url('../font/Sitka.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}


body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}

/*----------------*/

.container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.divider {
    height: 30px;
    background-color: #5B7283;
    opacity: 0.8;
    width: 100%;
    background: linear-gradient(#2b2929, rgb(59, 97, 126), #A3C0DC, rgb(205, 238, 252));
    margin-bottom: 15px;
}

main {
    min-height: 80vh;
    background: linear-gradient(to bottom, #F2F6F9 50%, #AEC4D8);
    margin-top: 196px;
    padding-bottom: 50px;
}

.image-container {
    height: 22px;
    background-image: url('../icons/fond-1024x446.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 196px;
}

.title {
    background: linear-gradient(to top, white, #f2f6f9ba, #d4e1ed);
}

/*---------- typographie ---------------*/


h1 {
    font-family: "Sitka", sans-serif;
    color: #6B849A;
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: 0.6px;
    text-shadow: 0px 6px 5px #FFFFFF;
    background: linear-gradient(to bottom, #f2f6f9ba, #EACC9C);
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15%;
    width: 60%;
    border-radius: 0 0 200px;
    animation: slideFromLeft 0.8s ease-in-out;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

h2 {
    color: #697a89;
    font-size: 1.5vw;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 30px;
    padding: 50px 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(to top, white, #f2f6f9cc 50%);
}


p {
    color: rgb(61, 72, 79);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.3px;
}

span {
    line-height: 38px;
    color: rgb(61, 72, 79);
    font-size: 19px;
    text-align: center;
    padding: 50px 0;
}

strong {
    color: #697a89;
    font-weight: bold;
}


/*--------- Mobiles --------------*/

@media only screen and (max-width:1200px) {
    h2 {
        font-size: 2.1vw;
    }
}


@media only screen and (max-width:850px) {

    .container {
        width: 90%;
    }

    h1 {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        padding-left: 8%;
        padding-right: 20px;
    }

    @media only screen and (max-width:1200px) {
        h2 {
            font-size: 18px;
            padding: 50px 30px;

        }
    }
}