.competence {
    margin: 5px;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #eacc9c91;
    border-radius: 10px;
    padding: 0 20px;
    min-width: 400px;
    margin-bottom: 20px;
    margin-right: 50px;
    transition: background-color 0.3s ease-in-out;


}

.competence.active {
    z-index: 1;
}

.competence.active .description {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out, transform-origin 0.5s ease-in-out;
}

.description {
    position: relative;
    background-color: rgb(255 255 255 / 71%);
    border-radius: 10px 10px 5px 5px;
    padding: 20px;
    max-height: 0;
    /* Utilisation de max-height pour une transition fluide */
    overflow: hidden;
    /* Masquer le débordement */
    transition: max-height 0.5s ease-in-out, transform-origin 0.5s ease-in-out;
    /* Utilisation de max-height et transform-origin pour la transition */
}

.description p {
    margin: 0;
    line-height: 28px;
    margin-bottom: 20px;
}

.icone {
    margin-right: 20px;
}

.nom {
    font-size: 16px;
    font-weight: bold;
    color: #697a89;
}

.arrow {
    position: absolute;
    right: 0;
}

.arrow-down {
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 9px solid #a4b6c5;
    transform: translate(-20px, -20px);
}

.arrow-up {
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #a4b6c5;
    transform: translate(-20px, -20px);
}

button.look-button {
    text-shadow: 0px 1px 0px #9488888a;
    border: none;
    background-color: rgb(163 188 210 / 69%);
    border-radius: 2px;
    font-size: 18px;
    color: white;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}