.competence {
    margin: 5px;
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #eacc9c91;
    border-radius: 10px;
    padding: 0 20px;
    min-width: 300px;
    margin-bottom: 20px;
    margin-top: 5px;
    transition: background-color 0.3s ease-in-out;
}


.competence.active {
    z-index: 1;
}

.competence.active .description {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out, transform-origin 0.5s ease-in-out;
}

.description {
    position: relative;
    background-color: rgb(255 255 255 / 71%);
    border-radius: 10px 10px 5px 5px;
    padding: 20px;
    max-height: 0;
    /* Utilisation de max-height pour une transition fluide */
    overflow: hidden;
    /* Masquer le débordement */
    transition: max-height 0.5s ease-in-out, transform-origin 0.5s ease-in-out;
    /* Utilisation de max-height et transform-origin pour la transition */
    width: min-content;


}

.description p {
    margin: 0;
    line-height: 28px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 280px;
}

.icone {
    margin-right: 20px;
}

span.nom img {
    height: 20px;
    margin-right: 10px;
    opacity: 0.8;
}

.nom {
    font-size: 16px;
    font-weight: bold;
    color: #697a89;
}

.competences-layout {
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*--------- arrow ----------------*/
.competence .arrow {
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    /* Ajoutez une transition à la transformation */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translate(-20px, -20px);
}

.competence .arrow-down {
    border-top: 9px solid #a4b6c5;
}

.competence .arrow-up {
    border-bottom: 12px solid #a4b6c5;
    transform: rotate(180deg);
    transform: translate(-20px, -20px);
    /* rotation initiale pour l'état actif */
}

.competence .arrow.active {
    transform: rotate(180deg);
    /* rotation pour l'état actif */
}


/*------- button filtre realisations ----- */


button.look-button {
    text-shadow: 0px 1px 3px #9488888a;
    border: none;
    background-color: rgb(163 188 210 / 69%);
    border-radius: 2px;
    font-size: 18px;
    color: white;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

button.look-button:hover {
    background-color: #eacc9cc4;
    color: rgb(111, 115, 128);
    text-shadow: 0px 0px 0px #9488888a;
    transition: all 0.5s;
}



/*---------- mobile ------------*/
@media only screen and (min-width:1500px) {
    .competence {
        min-width: 500px;
    }

    .description p {
        width: 355px;
    }
}