/* Header.css */

header {
    position: fixed;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.1);
    top: 0;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 8, 8, 0.435);
}

.header {
    background: #f2f6fb;
}

/* lignes */
.header-divider {
    height: 28px;
    background-color: #5B7283;
    opacity: 0.8;
    width: 100%;
    background: linear-gradient(#080808, rgb(59, 97, 126), #A3C0DC);
    margin-bottom: 15px;
}

.header-divider-bottom {
    height: 20px;
    background-color: #ACC3D8;
    width: 100%;

}


/* logo */
.logo-container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo {
    width: 150px;
    height: auto;
}

/* nav */
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #7A8EA1;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: 1.2px;
    transition: color 0.3s ease-in-out;
}

.nav a.active {
    color: #70829d;
}

.nav a:hover {
    color: #e5b870;
}

/* --------- mobile --------------*/
.menu-icon {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #F3E8D6;
    margin: 6px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 70px;
        background: #ACC3D8;
        width: 50%;
        padding: 20px;
        text-align: center;
        border-radius: 5px
    }

    .nav li {
        margin: 15px 0;
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        color: #7A8EA1;
    }

    .menu-open .nav ul {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-open .menu-icon .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .nav-open .menu-icon .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-open .menu-icon .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}